[submodule "ansible-playbook-templates"]
	path = ansible-playbook-templates
	url = https://github.com/fluent-qa/ansible-playbook-templates.git
[submodule "fluent-pypro-template"]
	path = fluent-pypro-template
	url = https://github.com/qdriven/fluent-pypro-template.git
[submodule "fluentqa-md-docs-template"]
	path = fluent-md-docs-template 
	url = https://github.com/qdriven/fluentqa-md-docs-template.git

[submodule "fluentqa-gotpl"]
	path = fluentqa-gotpl
	url = https://github.com/fluent-qa/fluentqa-gotpl.git
